extends ethanLayout

block content
  div.background2
    h1.title= title
    div.right
      if user
        p.text Welcome #{user.name}
    if errors
      each error in errors
        p(style="color:red") #{error.msg}
    div.card2 
      if forum
        form(method="POST", action="/forum/comment/"+ forum._id)
          input#content.input-control(name="content", type="text")
          #form-group-submit 
            input.input-control(type="submit")