extends moevqLayout

block content
    div(id="maTitle") LinkedDev
    h1 Developers
    p(class="p1") To veiw our developers LinkedIn click on their photo
    div(class="maDevContainer")
        div(class="maDevClass")
            div(class="infoSec")
                div(class="MaName") Mohamad Alhawameda
                div(class="maSocialMedia") Email: Alhawameda4@gmail.com
                div(class="maSocialMedia") Software Engineer 
                div(class="maSocialMedia") Google
            a(href="https://www.linkedin.com/in/mohamad-al-hawameda-8194b4225/")
                img(src="../images/moeMa.jpg")

        div(class="maDevClass")
            div(class="infoSec")
                div(class="MaName") Jason Peral
                div(class="maSocialMedia") Email: Jasonperal@hotmail.com 
                div(class="maSocialMedia") Software Engineer 
                div(class="maSocialMedia") Tesla 
            a(href="https://www.linkedin.com/in/jason-peral-89919716b/")
                img(src="../images/jason2.jpeg")
        div(class="maDevClass")
            div(class="infoSec")
                div(class="MaName") Mohammed Mohammed Ali 
                div(class="maSocialMedia") Email: Mohammedshokai99@gmail.com
                div(class="maSocialMedia") Senior Software Engineer   
                div(class="maSocialMedia") Amazon
            a(href="https://www.linkedin.com/in/mohamed-ali-b559321bb/")
                img(src="../images/moeDev.jpeg")
        div(class="maDevClass")
            div(class="infoSec")
                div(class="MaName") Ethan Santigo 
                div(class="maSocialMedia") Email: Ethan.f.santiago@gmail.com
                div(class="maSocialMedia") Software Engineer 
                div(class="maSocialMedia") Meta
            a(href="https://www.linkedin.com/in/ethan-santiago-32bab61a9/")
                img(src="../images/etha.jpg")