extends moevqLayout
  
block content
  div(id="maTitle") LinkedDev
  div(class="maA1")
    a(href="/login")
      button Login
  div(class="maA2")
    a(href="/signup")
      button Register  
  p(class="circle") 
  p(class="maPara") You can make more friends in two months by becoming interested in other people than you can in two years by trying to get other people interested in you

  div(class="devSecMa")
    h1(class="maSecH1") Learn more about our developers 
    div(class="maA3")
      a(href="/developers")
        button Developers